body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .cajaPrincipal {
    text-align: center;
  }

  #Encabezado {
    margin-bottom: 10px;
  }

  #excusa{
    position: absolute;
  }